.AccountEditor {
  text-align: center;
  padding: 20px;
}

.Account .AccountHeadTotalMoney {
  margin-top: 120px;
}

.Account .AccountHeadTotalMoney h2 {
  text-align: center;
  font-size: 40px;
}

.Account .AccountHeadpaidMoney h3 {
  text-align: center;
  font-size: 20px;
}

.Account input {
  background-color: #ececec;
  border-bottom: 2px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 20px;
  width: 200px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 0.2s;
  outline: none;
  animation-name: inputAnimation;
}
.Account input:hover {
  transform: scale(1.03);
  border-color: #6fa8ed;
}

.InputFifthArea {
  margin-top: 30px;
}

.InputFifthAreaLabel {
  font-size: 18px;
}

select {
  outline: none;
  margin-top: 10px;
  margin-left: 20px;
  font-family: "Gowun Batang", serif;
  border: none;
}
select:hover {
  transform: scale(1.03);
  border-color: #6fa8ed;
}

.AccountEditor select {
  width: 100px;
  padding: 10px;
  margin-bottom: 20px;
}

.AccountEditor button {
  width: 100px;
  padding: 10px;
  outline: none;
  cursor: pointer;
}

.InputLastAreaBtn {
  border: none;
  background-color: #ececec;
  font-size: 40px;
}

.InputLastAreaBtn:hover {
  transform: scale(1.4);
}

.AccountEditor .AccountEditorReturnDiv {
  margin-top: 100px;
}

.AccountEditor span {
  margin-bottom: 12px;
}

.Account .item_nameSpan {
  margin-bottom: 12px;
}

/* List */
.AccountEditorReturnDiv div {
  margin-bottom: 7px;
}
.AccountEditorReturnDiv span {
  font-size: 25px;
}

.AccountEditorH2 {
  margin-bottom: -40px;
  font-size: 2.2rem;
}

/*itme*/

.AccountItem {
  background-color: rgba(178, 208, 209, 0.739);
  margin-bottom: 10px;
  padding: 20px;
}

.AccountItem .info {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.AccountItem .date {
  color: gray;
}

.AccountItem .content {
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}
